// ********************
// ***** Clash Display ******
// ********************

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 200;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Extralight.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Extralight.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Extralight.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 300;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Light.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Light.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Regular.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Regular.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 500;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Medium.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Medium.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 600;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Semibold.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Semibold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Bold.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Bold.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Bold.ttf') format('truetype');
    font-display: swap;
}

// ********************
// ***** Inter ******
// ********************

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter/Inter_18pt-Regular.ttf') format('truetype');
}
