// ***************************
// ****** Clash Display ******
// ***************************

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 200;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Extralight.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Extralight.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Extralight.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 300;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Light.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Light.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Regular.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Regular.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 500;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Medium.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Medium.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 600;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Semibold.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Semibold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: ClashDisplay;
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/clashdisplay/ClashDisplay-Bold.woff2') format('woff2'),
        url('../fonts/clashdisplay/ClashDisplay-Bold.woff') format('woff'),
        url('../fonts/clashdisplay/ClashDisplay-Bold.ttf') format('truetype');
    font-display: swap;
}

// ********************
// ****** Inter *******
// ********************

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter/Inter_18pt-Regular.ttf') format('truetype');
}

// ********************
// ***** Spartan ******
// ********************

@font-face {
    font-family: Spartan;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/spartan/LeagueSpartan-Thin.ttf') format('truetype');
}

@font-face {
    font-family: Spartan;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/spartan/LeagueSpartan-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: Spartan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/spartan/LeagueSpartan-Light.ttf') format('truetype');
}

@font-face {
    font-family: Spartan;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/spartan/LeagueSpartan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/spartan/LeagueSpartan-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/spartan/LeagueSpartan-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Spartan;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/spartan/LeagueSpartan-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Spartan;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/spartan/LeagueSpartan-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: Spartan;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/spartan/LeagueSpartan-Black.ttf') format('truetype');
}

// **********************************
// ********** Projects **************
// **********************************

// ***** BitCount (Game-Lobby) ******
@font-face {
    font-family: BitCount;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/projects/BitCount-Regular.ttf') format('truetype');
}

// ***** Poppins (Reaction) ******
@font-face {
    font-family: Autowide;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/projects/Audiowide-Regular.ttf') format('truetype');
}

// ***** Futura (AlgoVisualizer) ******
@font-face {
    font-family: Futura;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/projects/Futura-Regular.ttf') format('truetype');
}
